*
!AppUIAutomator2Navigation
!context_sensitive_privacy_data_location
!docker_result
!Privacy-compliance-detection-2.1
!run.py
!get_urls.py
!config.ini
!adbkey
!sourcelist.txt
!chi_sim.traineddata
!IP.txt
!prepareInDocker.sh
!prepareInDocker_linux.sh
!model
!requirements_docker.txt
!requirements_yolov5.txt
!adbkey.pub
!kill_all_background_apps.sh
!kill_adb_server.sh
!kill_app.sh
!run.sh